$primary-color: #706afe;
$primary-darker-color: #645ee2;
$secondary-color: #009984;
$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #148cb8;
$background-color: #eeeeee;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
$gradient-gray: rgba($color-black, .4) 0%, rgba($color-black, 0) 100%
